@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #FFFFFF;

}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .container {
    @apply px-4;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    @apply px-[2rem] max-w-[540px]
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    @apply px-[3rem] max-w-[720px];
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    @apply px-[4rem] max-w-[960px];
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1535px) {
  .container {
    @apply px-[4rem] max-w-[1240px];
  }
}

@media only screen and (min-width: 1536px) and (max-width: 1680px) {
  .container {
    @apply px-[5rem] max-w-[1240px];
  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .container {
    @apply  max-w-[1240px]
  }
}


/* Navbar css */

.nav-main{
  @apply w-full p-0 bg-[#FFFFFF] fixed top-0 z-40 backdrop-blur-[50px] border-b border-[#C9CDD3]
}

.nav-links{
  @apply text-[#101010] text-[16px] hover:bg-transparent rounded-none font-medium flex items-center relative group-hover:text-primary
  capitalize 
}
.nav-arrow{
  @apply ml-[3px] mt-[2px] group-hover:rotate-180 transition-all duration-300 group-hover:fill-primary
}
.dropdown-content{
  @apply right-0 mt-12 shadow w-52 text-lg bg-[#F5F5F5] text-center p-1
}
.submenu-dropdown{
  @apply z-10 bg-primary shadow-lg relative left-0 top-0 p-1
}
.dropdown-options{
  @apply text-white text-base font-normal active:bg-transparent px-2 py-4 hover:bg-primary   
}

.nav-drop{
  @apply relative py-4 md:py-7
}
.nav-drop {
  @apply relative
}
.center-dropdown {
  @apply absolute w-[180px] h-0 overflow-hidden invisible transition-[height] duration-[0.2s] ease-[ease-in-out] border border-[#000]
   flex flex-col mt-0 top-[84px] left-[-16px] bg-[#cec7c7] p-0 overflow-y-auto
}

.nav-drop:hover .center-dropdown {
  @apply h-[180px] transition-[height] duration-[0.5s] ease-[ease-in-out] visible;
}

.drop-list{
  @apply text-[#101010] text-[14px] font-medium active:bg-transparent !p-2 hover:bg-transparent !border-b border-[#101010] rounded-none
  active:text-[#FFFFFF] active:bg-[#101010] last:border-b-transparent hover:bg-white hover:text-primary
}
.login-btn{
  @apply text-[#101010] text-[16px] uppercase font-medium border border-[#101010] px-6 py-2
}
.signup-btn{
  @apply text-[#FFFFFF] text-[16px] uppercase font-medium border border-[#101010] px-6 py-2 bg-[#101010] hover:bg-primary hover:border-primary 
  transition-all duration-500
}
.search {
  @apply w-full relative cursor-pointer
}

.search input {
  @apply w-9 h-9 border border-[#101010] float-right transition-all duration-500 outline-none p-5 placeholder:leading-[1] 
  italic placeholder:text-[#101010] leading-[1]
}
.page-template-result .search input{
  @apply w-full
}
.stretch{
  @apply !w-[100%]
}
.menu[class*=" px-"]:not(.menu[class*=" px-0"]) li > *{
  @apply rounded-none
}

.menu :where(li) > :where(*:not(ul)) {
  @apply gap-0 p-0
}
.search-btn{
    @apply flex gap-x-[5px] items-center
}

.nav-hov:after {
@apply content-[''] absolute w-full h-px bg-primary origin-bottom-right transition-transform duration-[0.25s] ease-[ease-out] scale-x-0 left-0 bottom-0;
}
.nav-hov:hover:after {
@apply origin-bottom-left scale-x-100;
}
.primary-btn{
  @apply p-3 bg-primary text-[#FFFFFF] text-[14px] font-medium rounded-[4px] flex gap-2
}
.primary-btn::after{
  content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L9 0.5M9 0.5H2.5M9 0.5V7" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.secondary-btn{
  @apply p-3 bg-secondary text-[#FFFFFF] text-[14px] font-medium rounded-[4px] flex gap-2
}
.secondary-btn::after{
  content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L9 0.5M9 0.5H2.5M9 0.5V7" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}


/* hamburger menu */


/* hero-section */
.slider-overlay{
  @apply absolute top-0 left-0 w-full h-full bg-[#000000] opacity-40 z-10
}
.hero-sec-heading{
  @apply text-[72px] text-[#FFFFFF] font-extrabold mb-6 
}
.section-subheading{
  @apply text-[32px] text-[#FFFFFF] mb-8 leading-[1.2]
}
.explore-btn{
  @apply bg-[#FFFFFF] text-secondary rounded-[4px] px-6 py-4 flex items-center gap-1 font-medium text-[16px] w-fit
}
.explore-btn::after{
  content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L9 0.5M9 0.5H2.5M9 0.5V7" stroke="%232E3192" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.section-heading{
  @apply text-primary text-[16px] uppercase mb-3
}
.section-title{
  @apply text-secondary text-[36px] xl:text-[48px] font-bold leading-[1.2] flex gap-3 items-center relative pl-3 capitalize
  before:content-[""] before:w-[3px] before:h-[80%] before:bg-primary before:absolute before:left-0 before:rounded-[100px]
}
.about-heading{
  @apply text-[#0E0E11] text-[36px] font-semibold leading-[1.1]
}
.about-usp-title{
  @apply text-[#4F5662] text-[20px] font-semibold mt-3
}
.about-usp-detail{
  @apply text-[#727C8D] text-[16px] font-medium mt-2
}
.about-centre-fig{
  @apply absolute z-1 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-4 w-[132px] h-[136px] bg-[#ffffff] rounded-[20px]
}

/* innovation section */

.tertiary-button{
  @apply text-primary text-[16px] font-medium flex gap-1 items-center 
}
.tertiary-button::after{
  content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L9 0.5M9 0.5H2.5M9 0.5V7" stroke="%23F5811E" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.innovation-card figure{
  @apply w-full h-[280px] mb-5
}
.innovation-card-image{
  @apply w-full h-full object-cover rounded-[24px]
}
.innovation-card h2{
  @apply text-[#0E0E11] text-[32px] mb-2 font-semibold
}
.innovation-card p{
  @apply text-[#0E0E11] text-[20px] mb-2 
}




/* product section */
.cat-btn{
  @apply w-[132px] py-2 bg-secondary text-[#FFFFFF]
  focus:bg-primary focus:font-bold text-[16px]
  rounded-[4px] uppercase px-5 flex justify-center
  font-[300]
}
.product-card{
  @apply relative border border-secondary rounded-[16px]
}
.product-card figure{
  @apply w-[225px] h-[350px] absolute right-0 top-[-25%]
}
.product-card-image{
  @apply w-full h-full object-cover
}
.product-card-tag{
  @apply text-[18px] text-[#FFFFFF] bg-secondary px-9 py-4 rounded-tl-[12px] flex justify-center items-center w-fit
}

.product-card-detail{
  @apply px-6 py-7 mt-12
}
.product-svg-wrapper{
  @apply w-[74px] h-[74px] bg-[#E2DCF4] rounded-[12px] flex justify-center items-center p-2 mb-3
}
.product-card h2{
  @apply text-[#050B20] text-[24px] mb-3 font-bold
}
.product-card p{
  @apply text-[#050B20] text-[15px] mb-3
}

.swiper-button-next{
  @apply !w-12 !h-12 !bg-[#DEE1E5] absolute rounded-[4px]
}
.swiper-button-next::after{
  content: url('data:image/svg+xml,<svg width="22" height="30" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.731556 19.8801L9.32356 11.0001L0.731556 2.07215C0.315556 1.65615 0.315556 1.27215 0.731556 0.920149C1.14756 0.504148 1.53156 0.504148 1.88356 0.920149L11.2916 10.3761C11.6756 10.7921 11.6756 11.1921 11.2916 11.5761L1.88356 21.0321C1.53156 21.4481 1.14756 21.4481 0.731556 21.0321C0.315556 20.6801 0.315556 20.2961 0.731556 19.8801Z" fill="%234F5662"/></svg>') !important; 
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}
.swiper-button-prev{
  @apply !w-12 !h-12 !bg-[#DEE1E5] absolute rounded-[4px]
}
.swiper-button-prev::after{
  content: url('data:image/svg+xml,<svg width="12" height="30" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.2674 19.8801C11.6834 20.2961 11.6834 20.6801 11.2674 21.0321C10.8514 21.4481 10.4674 21.4481 10.1154 21.0321L0.707434 11.5761C0.323434 11.1921 0.323434 10.7921 0.707434 10.3761L10.1154 0.920149C10.4674 0.504148 10.8514 0.504148 11.2674 0.920149C11.6834 1.27215 11.6834 1.65615 11.2674 2.07215L2.67543 11.0001L11.2674 19.8801Z" fill="%234F5662"/></svg>') !important; 
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}


/* media-card-section */

.media-card figure{
  @apply w-full h-[270px] mb-6
}
.media-card-image{
  @apply w-full h-full object-cover rounded-[24px]
}
.card-cat, .card-date{
  @apply text-primary text-[14px] capitalize
}
.media-title{
  @apply text-[#0E0E11] text-[18px] font-bold leading-[1.5] mb-2
}
.media-detail{
  @apply text-[#4F5662] text-[14px] mb-3
}







/* footer-section */
.footer-detail-sec{
  @apply flex justify-between items-center 
}
.footer-description-text{
  @apply text-[#0E0E11] text-[16px] leading-[1.5] 
}
.footer-detail-box{
  @apply flex items-center gap-3 border border-[#727C8D] px-4 py-2 rounded-[4px]
}
.footer-detail-box span{
  @apply text-[18px] text-secondary
}
.footer-list{
  @apply flex flex-col gap-3 mt-5
}
.footer-list-item{
  @apply text-[#0E0E11] text-[16px] leading-[1.2] capitalize relative flex gap-2
}
/* .footer-list-item::after{
  display: none;
  content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L9 0.5M9 0.5H2.5M9 0.5V7" stroke="%23F5811E" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.footer-list-item:hover .footer-list-item::after{
  display: flex;
} */
.footer-list-box{
  @apply text-secondary text-[20px] leading-[1.2] capitalize 
}

.bottom-top-btn{
  @apply w-10 h-10 bg-primary flex justify-center items-center rounded-[4px]
}

